.trips-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-weight: bold;
}