#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.userForm{
  background-color: #e2efff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
}

.tripForm {
  background-color: #e2efff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.formLabel {
  text-align: left;
  margin: 10px;
  font-weight: bold;
}

.userButton {
  margin-top: 12px;
}

.alternateLink {
  margin-top: 12px;
  margin-bottom: -2px;
}
