
/* body {
    background-color: black;
    color: #e0e0e0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.outline-neon-blue {
    border: 2px solid #00FFFF;
    box-shadow: 0 0 5px #00FFFF; 
} */