
.component {
    background-color: #1e1e1e; 
    border: 2px solid #00FFFF; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00FFFF; 
}


.button {
    background-color: #00FFFF; 
    color: black; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #00CCCC; 
    transform: scale(1.05); 
}